<div class="header">
  <table class="vertical_center_table">
    <tr>
      <td>
        <nav class="nav_bar">
          <ul>
            <!-- left header -->
            <li class="li_left">
              <!-- open collection tree -->
              {% if page.show_posts != false %}
              <a class="header_btn" href="{{ site.url }}{{ site.baseurl }}/posts">
                <i class="fa fa-folder btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">{{site.posts_btn_text}}</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- open collection tree -->
              {% if page.show_collections != false %}
              <a class="header_btn" onclick="open_collection_list()">
                <i class="fa fa-book btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">{{site.archive_btn_text}}</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- home -->
              {% if page.home_btn != false %}
              <a class="header_btn" href="{{ site.url }}{{ site.baseurl }}">
                <i class="fa fa-home btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">{{site.home_btn_text}}</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- bilingual -->
              {% if page.layout == "post-bilingual" %}
              <a class="header_btn" onclick="BilingualToggle.toggleAll()">
                <i class="fa fa-language btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">Bilingual</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- parallel -->
              {% if page.layout == "post-parallel" %}
              <a class="header_btn" href="javascript:void(0)" onclick="window.parallelTextColumns.toggle('.post-content')">
                <i class="fa fa-language btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">Parallel</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- maximize -->
              {% if page.maximize != false %}
              <a class="header_btn" id="mxmz_btn" onclick="toggle_maximize()">
                <i class="fa fa-window-maximize btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text" id="mxmz_text">Maximize</p>
                {% endif %}
              </a>
              {% endif %}
              <!-- access token -->
              {% if page.encrypted_text == true %}
              <a class="header_btn" id="acs_btn" onclick="apply_token()">
                <i class="fa fa-key btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">Token</p>
                {% endif %}
              </a>
              <textarea class="access_token" cols="8" id="acs_tkn" rows="1"></textarea>
              {% endif %}
            </li>
            <!-- right header -->
            <span class="span_right">
              {% if page.toc != false %}
              <!-- back to top -->
              <a class="header_btn" id="back_to_top_btn" href="#top_hook">
                <i class="fa fa-fast-backward btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">Top</p>
                {% endif %}
              </a>
              <!-- popup table of content -->
              <a class="header_btn popup_btn" onclick="toggle_toc()">
                <i class="fa fa-list btn_icon"></i>
                {% if page.btn_text != false %}
                <p class="btn_text">Index</p>
                {% endif %}
              </a>
              {% else %}
              <a class="site_title" href="{{site.url}}{{site.baseurl}}">
                {{ site.title }}</a>
              {% if site.owner != false%}
              <a class="site_owner"> - </a>
              <a class="site_owner" href="https://github.com/{{site.github}}">
                {{ site.owner }}</a>
              {% endif %} {% endif %}
            </span>
          </ul>
        </nav>
        <!-- <hr /> -->
      </td>
    </tr>
  </table>
</div>
<!-- toc -->
<div class="toc">
  {% if page.toc == "list" %}
  <div class="div_toc toc" id="popup_toc">
    {% if page.toc_depth %}
    {% assign toclv = page.toc_depth %}
    {% elsif site.toc_depth %}
    {% assign toclv = site.toc_depth %}
    {% else %}
    {% assign toclv = 3 %}
    {% endif %}
    <!-- generate toc -->
    {% include toc_list.html html=content sanitize=true class="ul_toc" id="ul_toc" h_min=2 h_max=toclv %}
  </div>
  {% endif %}
  {% if page.toc == "chart" %}
  <div class="div_toc toc" id="popup_toc">
    {% include toc_chart.html content=content %}
  </div>
  {% endif %}
  {% if page.toc == "compact" %}
  <div class="div_toc toc" id="popup_toc">
    {% include toc_chart.html content=content compact=true %}
  </div>
  {% endif %}
</div>
<script>
  // 切换toc
  function toggle_toc() {
    document.getElementById("popup_toc").classList.toggle("show");
  }
  //切换全屏
  function toggle_maximize() {
    if (ctner_state == 0) {
      ctner.style.top = "0";
      ctner.style.width = "100%";
      ctner.style.height = "100%";
      ctner.style.maxWidth = "100%";
      if (document.getElementById("mxmz_text")) {
        document.getElementById("mxmz_text").innerHTML = "Restore";
      }
      ctner_state = 1;
    } else if (ctner_state == 1) {
      ctner.style.top = "2%";
      ctner.style.width = "84%";
      ctner.style.height = "97%";
      ctner.style.maxWidth = "1350px";
      if (document.getElementById("mxmz_text")) {
        document.getElementById("mxmz_text").innerHTML = "Maximize";
      }
      ctner_state = 0;
    }
  }

  // Decrypt secret message -> header.html -> #asc_btn
  function apply_token() {
    // perform decryption
    function decrypt_all(pwd, class_name) {
      var elem_clct = document.getElementsByClassName(class_name);
      if (elem_clct.length == 0) {
        console.log("No texts to decrypt!");
        return false;
      }
      for (acc = 0; acc < elem_clct.length; acc++) {
        var encrypted = elem_clct[acc].id;
        var ct =
          '{"iv":"' +
          encrypted.substring(0, 22) +
          '==",salt:"","ct":"' +
          encrypted.substring(22) +
          '"}';
        try {
          var txt = sjcl.json.decrypt(pwd, ct);
        } catch (e) {
          alert("Invalid Access Token!");
          return;
        }
        elem_clct[acc].innerHTML = txt;
      }
      return true;
    }
    // do html stuff then apply DECRYPT_ALL
    var tkn = document.getElementById("acs_tkn");
    if (decrypt_all(tkn.value, "encrypted")) {
      tkn.style.display = "none";
      document.getElementById("acs_btn").style.display = "none";
    }
  }
</script>
{% if page.maximize != false %}
<script>
  var ctner_state = 0;
  var ctner = document.getElementById("ctner");
</script>
{% endif %}