<div class="post_info">
  <!-- Author -->
  {% if page.author %}
  <span>
    <i class="fa fa-user-secret"></i>
    <span class="post_info_text">{{ page.author }}</span>
  </span>
  {% endif %}
  <!-- Date -->
  {% if page.show_date %}
  <span>
    <i class="fa fa-calendar"></i>
    <span class="post_info_text">{{ page.date | date: "%b %d, %Y" }}</span>
  </span>
  {% endif %}
  <!-- Category -->
  {% if page.categories %}
  <span>
    <i class="fa fa-archive"></i>
    <span class="post_info_text">{{ page.categories }}</span>
  </span>
  {% endif %}
  <!-- Tags 测试条件：未设置：nil 设置，但为空：empty -->
  <!-- {% unless page.tags == "not set" %} 
  <span>
    <i class="fa fa-tag"></i>
    <span class="post_info_text">
    {% for tag in page.tags %} {{ tag }} {% unless forloop.last %} {% endunless
    %} {% endfor %}
    </span>
  </span>
  {% endunless %} -->
  <!-- Subclass -->
  {% if page.subclass %}
  <span>
    <i class="fa fa-star"></i>
    <span class="post_info_text">{{ page.subclass }}</span>
  </span>
  {% endif %}
</div>
<!-- Abstract -->
{% if page.abstract %}
<div class="abstract">
  <span>{{ page.abstract }}</span>
</div>
{% endif %}
