// post-list
.post_list {
  .td_title {
    color: $color-primary;
    text-transform: capitalize;
    @include simple_link_style;
    text-align: left;
  }
  .td_date {
    width: 110px !important;
    text-align: center;
  }
  .td_category {
    width: 90px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .td_title {
    width: fit-content;
  }
    .td_date {
    width: fit-content;
  }
  .td_category {
    width: fit-content;
  }
}