<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page">
<!-- Hacked Splash -->
    {% include hacked_splash.html %}
    <script src="{{ '/src/assets/js/hacked-splash.js' | relative_url }}" defer></script>
    <!-- Main -->
    {% include background.html %}
    {% include collection_list.html %}
    <div class="container" id="ctner">
       {% include header.html %}
      <div class="div_article" id="div_atcl">
        <div class="hook" id="top_hook"></div>
        <article
          id="main_atcl"
          itemscope
          itemtype="http://schema.org/BlogPosting"
        >
          {{content}} {% include post_list.html %} {% include comment.html %}
        </article>
        {% if page.footer != false %} {% include footer.html %} {% endif %}
      </div>
    </div>
  </body>
</html>
