---
layout: default
---

<!-- Parallel Mode -->
<script src="{{ site.url }}{{ site.baseurl }}/src/assets/js/parallel-text-column.js"></script>
<!-- 指定正文容器 -->
<script> 
document.addEventListener('DOMContentLoaded', function () {
  window.parallelTextColumns.init({
    selectors: ['.post-content'], // 选择应用的【直接！】容器
    autoEnable: true, // 自动开启
    includeHeadings: false, // 不翻译标题
    fontSize: '14px', // 统一字体大小
    compactText: true, // 去除边框和距离
    columnGap: '0.9rem', //
    dividerInset: '0.2rem', //
    dividerThickness: '1px', // 分割线的宽度
    verticalAlign: 'center', // 各列上下居中，'start'是开头
    blockSpacing: '1.5rem' // 块间的距离
  });
});
</script>

<h1 id="{{page.title}}">{{ page.title }}</h1>
{% include post_info.html %}
<br />
<!-- toc_before_content -->
{% if page.toc_before_content == "list" %}
<div class="toc_before_content">
  {% if page.toc_depth %}
  {% assign toclv = page.toc_depth %}
  {% elsif site.toc_depth %}
  {% assign toclv = site.toc_depth %}
  {% else %}
  {% assign toclv = 3 %}
  {% endif %}
  <!-- generate toc -->
  {% include toc_list.html html=content sanitize=true class="ul_toc" id="ul_toc" h_min=2 h_max=toclv %}
</div>
{% endif %}
{% if page.toc_before_content == "chart" %}
<div class="toc_before_content">
  {% include toc_chart.html content=content %}
</div>
{% endif %}
{% if page.toc_before_content == "compact" %}
<div class="toc_before_content">
  {% include toc_chart.html content=content compact=true %}
</div>
{% endif %}
<div class="post-content">
{{ content }}
</div>

<!-- Auto Maximized -->
<script>
if (ctner_state == 0) {
    ctner.style.top = "0";    
    ctner.style.width = "100%";
    ctner.style.height = "100%";
    ctner.style.maxWidth = "100%";
    if (document.getElementById("mxmz_text")) {
        document.getElementById("mxmz_text").innerHTML = "Restore";
    }
    ctner_state = 1;
}
</script>