@use "abstracts/variables"as *;
@use "abstracts/fonts"as *;
@use "abstracts/mixins"as *;
@use "abstracts/animations"as *;

@use "vendor/syntax"as *;
@use "vendor/hacked_splash"as *;
@use "vendor/copy_code"as *;
@use "vendor/math_toggle"as *;

@use "base/base"as *;
@use "base/details"as *;
@use "base/table"as *;

@use "components/footer"as *;
@use "components/collection_list"as *;
@use "components/header"as *;
@use "components/post_info"as *;
@use "components/toc_chart"as *;
@use "components/toc_list"as *;
@use "components/comment"as *;
@use "components/tags"as *;
@use "components/context_menu"as *;
@use "components/post-list"as *;

@use "layouts/global"as *;
@use "layouts/index"as *;

:root {
  --color-primary: #{$green-1};
  --color-primary-rgb: #{$green-1};

  --color-heading: #{$green-1};
  --color-text: #{$white-1};
  --color-muted: #{$white-1};

  --color-surface-rgb: #{$green-3};
}



