@charset 'utf-8';

// abstracts
@import "abstracts/fonts";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/animations";

:root {
  --color-primary: #{$green-1};
  --color-primary-rgb: #{$green-1};

  --color-heading: #{$green-1};
  --color-text: #{$white-1};
  --color-muted: #{$white-1};

  --color-surface-rgb: #{$green-3};
}


// vendor
@import "vendor/syntax";
// base styles
@import "base/base";
@import "base/details";
@import "base/table";
// components
@import "components/footer";
@import "components/collection_list";
@import "components/header";
@import "components/post_info";
@import "components/toc_chart";
@import "components/toc_list";
@import "components/comment";
@import "components/tags";
@import "components/index";
@import "components/copy_code";
@import "components/hacked_splash";
@import "components/slide";
@import "components/context_menu";
@import "components/post-list";

// layout
@import "layouts/global";

