// fonts
@font-face {
    font-family: "Fira Code Online";
    src: url("../fonts/FiraCode-Regular.woff");
  }

$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
 "LXGW WenKai", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans SC", sans-serif !default;

$font-serif: Georgia, Times,
  "LXGW WenKai","Songti SC", "STSong", "Source Han Serif SC", "SimSun", serif !default;

$font-monospace:  "Fira Code", "SFMono-Regular", "JetBrains Mono", "LXGW WenKai", "PingFang SC", 
  "Hiragino Sans GB", "Microsoft YaHei", Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

$font-kaiti: "LXGW WenKai", "Kaiti SC", "STKaiti", "KaiTi", "AR PL UKai CN", "FandolKai", serif !default;

$font-songti: "Songti SC", "STSong", "Source Han Serif SC", "SimSun", "AR PL UMing CN", serif !default;

$font-decorative: "Orbitron", "LXGW WenKai", "Kaiti SC", "STKaiti", "Songti SC", "STSong", serif !default;